<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>多线程--NSOperationQueue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>多线程--NSOperation线程间通信.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>多线程--多图片下载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>多线程-NSOperation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F07FDFC71B7B5E3800D3D841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F07FDFDF1B7B5E3800D3D841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E2A1651B74546400701482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E2A17E1B74546400701482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E2A1921B78C91600701482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E2A1AA1B78C91600701482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E2A1BF1B79230600701482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E2A1D71B79230700701482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
